body {
}

.sayfa {
    width: 1300px;
    margin-top:-300px;
    margin-right: auto;
    margin-left: auto;
}

.baslik {
    background-color: #00E3CC;
    height: 50px;
    padding: 15px;
    font-size:25pt;
}

.bilgi {
    float: right;
    padding: 18px;
    margin-right: 20px;
}

.resim{
    margin-top:80px;
}

.icerik {
    width: 1400px;
    padding: 20px 0;
    margin-top:350px;
}

.begining {
    font-size: 25pt;
}

.yorumPanel {
    margin-top: 5px;
    padding: 25px;
    height: 20px;
}

.forminput {
    width: 1300px;
    padding: 5px;
}

.formbutton {
    color: white;
    border: none;
    padding: 8px 20px;
    background-color: #00635A;
    text-decoration: none;
}

.yorum {
    margin-top: 40px;
}

.girisyok {
    margin-top: 10px;
    padding: 20px;
    color: darkorange;
    border: 2px solid red;
}

    .girisyok a {
        color: blue;
        text-decoration: none;
    }

        .girisyok a:hover {
            color: orangered;
            text-decoration: underline;
        }

.girisvar {
    padding: 20px;
}

    .girisvar .forminput {
        margin-bottom: 10px;
        width: 97%;
    }

    .girisvar .formbutton {
        margin-top: 10px;
        float: none !important;
        padding: 10px 20px !important;
    }
