*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
}

.carrier {
    width: 100%;
}

.pageentry {
    background-color: #00E3CC;
    height: 80px;
    text-decoration: none;
    height: 90px;
}

.patron {
    margin-left: 650px;
    margin-top: -60px;
    font-size: 16pt;
    color: white;
}

.kullanici {
    float: right;
    color: white;
    margin-top: -20px;
    text-decoration: none;
}

    .kullanici a {
        text-decoration: none;
        color: white;
        font-size: 14pt;
    }

        .kullanici a:hover {
            text-decoration: underline;
            color: black;
        }

.logo {
    width: 70px;
    height: 70px;
    margin-left: 550px;
    margin-top: 10px;
}

.kategorimenu {
    border-bottom: 2px solid black;
}

    .kategorimenu ul {
        list-style-type: none;
    }

    .kategorimenu a {
        text-decoration: none;
        color: black;
        font-weight: 900;
    }

        .kategorimenu a li {
            padding: 15px;
            float: left;
        }

    .kategorimenu li:hover {
        border-bottom: 3px solid black;
        margin-top: 7px;
    }

.sayfa {
    height: 1500px;
}

.makale {
    margin-top: 30px;
    width: 1000px;
    margin-left: 300px;
}

    .makale .baslik {
        color: white;
        background-color: #00E3CC;
        height: 50px;
        font-size: 25pt;
        padding: 5px;
    }

.baslik .bilgi {
    margin-top: 10px;
    float: right;
    font-size: 13pt;
    padding:5px;    
}

.resim {
    float: left;
    width: 200px;
}

    .resim img {
        width: 300px;
    }

.ozet {
    float: right;
    width: 680px;
    padding: 10px 0;
}

.kategori {
    margin-top: 320px;
}

.kayitFormu {
    background-color:white;
    width:400px;
    height:500px;
    margin:auto;
    margin-top:100px;
    text-align:center;
    border-radius:8px;
}
.kayit{
    padding:25px;
}
.input {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    background-color: #ededed;
    border: none;
}
.loginbutton{
    text-decoration:none;
    border:none;
    border-radius:5px;
    background-color:#00E3CC;
    padding:20px 100px;
    margin-top:100px;
    color:white;
}
.basarili {
    background-color: #00E3CC;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    width: 300px;
    margin-left: 40px;
}
.basarisiz {
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    width:300px;
    margin-left:40px;
}
.don{
    text-decoration:none;
    margin-top:500px;
    color:black;
}