*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
}

.carrier {
    width: 100%;
}

.pageentry {
    background-color: aqua;
    height: 80px;
    text-decoration: none;
    height: 90px;
}

.patron {
    margin-left: 650px;
    margin-top: -60px;
    font-size: 16pt;
    color: white;
}

.kullanici {
    float: right;
    color: white;
    margin-top: -20px;
    text-decoration: none;
}

    .kullanici a {
        text-decoration: none;
        color: white;
        font-size: 14pt;
    }

        .kullanici a:hover {
            text-decoration: underline;
            color: black;
        }

.logo {
    width: 70px;
    height: 70px;
    margin-left: 550px;
    margin-top: 10px;
}

.kategorimenu {
    border-bottom: 2px solid black;
}

    .kategorimenu ul {
        list-style-type: none;
    }

    .kategorimenu a {
        text-decoration: none;
        color: black;
        font-weight: 900;
    }

        .kategorimenu a li {
            padding: 15px;
            float: left;
        }

    .kategorimenu li:hover {
        border-bottom: 3px solid black;
        margin-top: 7px;
    }

.sayfa {
    height: 1500px;
}

.makale {
    margin-top: 30px;
    width: 1000px;
    margin-left: 300px;
}

    .makale .baslik {
        color: white;
        background-color: aqua;
        height: 50px;
        font-size: 25pt;
    }

.baslik .bilgi {
    margin-top: 10px;
    float: right;
    font-size: 13pt;
}

.resim {
    float: left;
    width: 200px;
}

    .resim img {
        width: 300px;
    }

.ozet {
    float: right;
    width: 680px;
    padding: 10px 0;
}

.kategori {
    margin-top: 320px;
}
